.mb-auto {
    margin-bottom: auto;
}

.flex-columdas {
    flex-direction: column;
}

body > .flex-column {
    height: 100vh;
}

.diet-diary {
    font-family: "Playfair Display", serif;
  font-weight: 500;
}

li {
    font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.dashboard {
    float: left;
    background-color:  #212529;
    height: 100vh;
}




body {
    background-image: url(./background_image.jpg); 
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;  
}

html {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.box1 {
    background-color: #E3DACA;

    margin-left: 30px;
    padding: 40px;
    border-radius: 20px;
}

.row {
    justify-content: start;
}

.calculate {
    background-color: #212529;
    border-color: #212529;
}













.saved-meals {
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }
  
  .saved-meals h2 {
    margin-bottom: 1rem;
  }
  
  .saved-meals p {
    font-size: 1.25rem;
  }
  
  .weekly-chart {
    padding: 2rem;
  }
  
  .footer {
    background-color: #f8f9fa;
    padding: 2rem;
  }
  



  body {
    font-family: 'Open Sans', sans-serif;
  }
  

  
  .diet-diary {
    font-family: 'Playfair Display', serif;
  }

  .saved-meals {
    margin: 2rem 0;
  }
  
  .weekly-chart {
    margin: 2rem 0;
  }
  
  .footer {
    background-color: #f1f1f1;
  }

  .weekly-chart {
    align-items: center;
    justify-content: center;
  }
  

  .graph{
    display: flex;
    justify-content: center;
    margin-top: 391px;
    background-color: white;
  }
